/* Clearfix: contains floats */

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    background: url(img/bg_mal.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body {
    margin: 0px;
}

#wrapper {
    display: block;
    width: 67%;
    height: 100%;
    float: left;
    margin: 0px;
    text-align: left;
}

main {
    width: 100%;
    height: auto;
}


nav {
    display: block;
    height: 100%;
    width: 33%;
    position: fixed; 
    right: 0;
    border: 0px;
    margin: 0px;
    overflow: hidden;
    clear: both;
}

nav ul {
    height: 100%;
    margin: 0px;
    border:0px;
    padding: 0px;
    list-style-type: none;
    text-align: left;
}

nav ul li {
    height: 10%;
    overflow: hidden;
    font-size: 14pt;
}


nav a:link, a:visited {
    display: block;
    padding: 6%;
    text-align: left; 
    text-decoration: none;
    color: #ffffff;
}

.name {
    background-color: rgba(0, 137, 138, 1);
}

.name:hover, .name:active {
    background-color: rgba(5, 156, 157, 1);
}

.home {
    background-color: rgba(0, 137, 138, 0.95);
}

.home:hover, .home:active {
    background-color: rgba(5, 156, 157, 0.95);
}

.skills {
    background-color: rgba(0, 137, 138, 0.9);
}

.skills:hover, .about:active {
    background-color: rgba(5, 156, 157, 0.9);
}

.exp {
    background-color: rgba(0, 137, 138, 0.85);
}

.exp:hover, .skills:active {
    background-color: rgba(5, 156, 157, 0.85);
}

.edu {
    background-color: rgba(0, 137, 138, 0.8);
}

.edu:hover, .exp:active {
    background-color: rgba(5, 156, 157, 0.8);
}

.portfolio {
    background-color: rgba(0, 137, 138, 0.75);
}

.portfolio:hover, .edu:active {
    background-color: rgba(5, 156, 157, 0.75);
}

.about {
    background-color: rgba(0, 137, 138, 0.7);
}

.about:hover, .portfolio:active {
    background-color: rgba(5, 156, 157, 0.7);
}

.contact {
    background-color: rgba(0, 137, 138, 0.65);
}

.contact:hover, .contact:active {
    background-color: rgba(5, 156, 157, 0.65);
}

.resume {
    background-color: rgba(0, 137, 138, 0.6);
}

.resume:hover, .resume:active {
    background-color: rgba(5, 156, 157, 0.6);
}

.social {
    background-color: rgba(0, 137, 138, 0.55);
}

.social:hover, .social:active {
    background-color: rgba(5, 156, 157, 0.55);
}

article {
    margin: 10px 0;
    padding: 50px;
}

p {
    line-height: 18pt;
}

h2 {
    font-size: 36pt;
}

h3 {
    font-size: 24pt;
}

h1, h2, h3, h4, p {
    clear: both;
    text-align: left;
}

h1, h2 {
    margin: 10px 0;
    font-family: 'Berkshire Swash', cursive;
}

h3, h4, a, p, #contact-form, textarea, #experience li {
    font-family: 'Lato', sans-serif;
}

#experience li {
    margin: 5px;
}

/* skills */
.column {
    float: left;
    width: 25%;
    height: 335px;  
}


/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#contact-form {
    float: left;
    display: inline-block;
    width: 50%;
    margin-top: 4px;
    margin-left: 4px;
}

fieldset {
    border: none;
}

#contact-form input {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 137, 138);
    border-radius: 4px;
    background-color: black;
    color: whitesmoke;
}

#contact-form input:focus, 
#contact-form textarea:focus {
    border: 3px solid rgb(0, 137, 138);
}

#contact-form textarea {
    background-color: whitesmoke;
    width: 100%;
    padding: 10px 20px;
    margin-top: 8px;
    box-sizing: border-box;
    resize: none;
    border: 2px solid teal;
    border-radius: 4px;
    background-color: black;
    color: whitesmoke;
}

#contact-form button {
    display: inline-block;
    background-color: teal;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px -25px 4px 100px;
    cursor: crosshair;
}

#contact img {
    width: 45%;
    float: right;
    clear: right;
    margin-right: 20px;
    border-radius: 5px;
}

#resume {
    height: 150px;
    clear: both;
    padding-top: 50px;
}