/* Clearfix: contains floats */

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    background: url(img/bg_mal.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    margin: 0 auto;
}

#wrapper {
    display: block;
    width: 67%;
    height: 100%;
    float: left;
    margin: 0px;
    text-align: left;
}

main {
    width: 100%;
    height: auto;
    margin: 0px 0px 50px 0px;
}

#logo {
    display: block;
    width: 50%;
    min-width: 250px;
    height: 296px;
    background: url(img/logo.png) no-repeat;
    background-size: contain;
    top: 0;
    margin: 0px 200px 350px 50px;
}

nav {
    display: block;
    height: 100%;
    width: 33%;
    position: fixed; 
    right: 0;
    border: 0px;
    margin: 0px;
    overflow: hidden;
    clear: both;
}

nav ul {
    height: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: left;
    overflow: hidden;
}

nav ul li {
    height: 12.5%;
    overflow: hidden;
    font-size: 14pt;
}   

nav a:link, a:visited {
    display: inline-block;
    padding: 6%;
    width: 100%;
    margin: 5px 0px 0px 0px;
    text-align: left;
    vertical-align: middle;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: margin-left 0.5s; /* For Safari 3.1 to 6.0 */
    transition: margin-left 0.5s;
}

nav a:hover {
    margin-left: 15px;
}

/* nav coloring */
.name {
    background-color: rgba(0, 137, 138, 1);
}

.name:hover, .name:active {
    background-color: rgba(5, 156, 157, 1);
}

.skills {
    background-color: rgba(0, 137, 138, 0.95);
}

.skills:hover, .skills:active {
    background-color: rgba(5, 156, 157, 0.95);
}

.exp {
    background-color: rgba(0, 137, 138, 0.9);
}

.exp:hover, .exp:active {
    background-color: rgba(5, 156, 157, 0.9);
}

.edu {
    background-color: rgba(0, 137, 138, 0.85);
}

.edu:hover, .edu:active {
    background-color: rgba(5, 156, 157, 0.85);
}

.portfolio {
    background-color: rgba(0, 137, 138, 0.8);
}

.portfolio:hover, .portfolio:active {
    background-color: rgba(5, 156, 157, 0.8);
}

.about {
    background-color: rgba(0, 137, 138, 0.75);
}

.about:hover, .about:active {
    background-color: rgba(5, 156, 157, 0.75);
}

.contact {
    background-color: rgba(0, 137, 138, 0.7);
}

.contact:hover, .contact:active {
    background-color: rgba(5, 156, 157, 0.7);
}

.resume {
    background-color: rgba(0, 137, 138, 0.65);
}

.resume:hover, .resume:active {
    background-color: rgba(5, 156, 157, 0.65);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 36px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    padding: 0px 15px 0px 0px;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


article {
    margin: 10px 0;
    padding: 50px;
}

h1, h2, h3, h4, p {
    clear: both;
    text-align: left;
}

p {
    line-height: 18pt;
}

h2 {
    font-size: 36pt;
}

h3 {
    font-size: 20pt;
}

h4 {
    font-size: 14pt;
}

h1, h2 {
    margin: 10px 0;
    font-family: 'Berkshire Swash', cursive;
    color: #4a4a4a;
}

h3, h4, a, p, 
#contact-form, 
textarea, 
#experience li {
    font-family: 'Lato', sans-serif;
    color: #5d5c5c;
}

#experience li {
    margin: 5px;
}

/* skills section */
.column {
    float: left;
    width: 25%;
    height: 335px;  
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#portfolio a:link, #portfolio a:visited, 
#resume a:link, #resume a:visited {
    background-color: rgb(0, 137, 138);
    color: #ffffff;
    margin: 20px 0;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#portfolio a:hover, #portfolio a:active, 
#resume a:hover, #resume a:active {
    background-color: rgba(5, 156, 157, 1);
}

#contact-form {
    float: left;
    width: 50%;
    margin: 25px 0px 0px 4px;
}

fieldset {
    border: none;
}

#contact-form input {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(0, 137, 138);
    border-radius: 3px;
    background-color: rgba(0, 137, 138, 0.8);
    color: #ffffffda;
    font-size: 12pt;
}

#contact-form input:focus, 
#contact-form textarea:focus {
    border: 3px solid rgb(0, 137, 138);
}

#contact-form textarea {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    resize: none;
    border: 2px solid rgb(0, 137, 138);
    border-radius: 3px;
    background-color: rgba(0, 137, 138, 0.8);
    color: #ffffffda;
    font-size: 12pt;
}

#contact-form button {
    display: inline-block;
    background-color: teal;
    border: none;
    border-radius: 3px;
    color: #ffffffda;
    font-size: 11pt;
    padding: 10px 32px;
    text-decoration: none;
    margin: 4px -25px 4px 84px;
    cursor: crosshair;
}

#contact img {
    width: 45%;
    float: right;
    clear: right;
    margin: 0px 20px 200px 0px;
    border-radius: 3px;
}

#resume {
    height: 175px;
    clear: both;
}
