@{
    ViewData["Title"] = "Home Page";
}

@model Wall.Models.RegisterViewModel

    <div id="VB">
        @{
            foreach(var error in ViewBag.errors)
            {
                if(@error.Errors.Count > 0)
                {
                    <p>@error.Errors[0].ErrorMessage</p>
                }
            }
        }
    </div>
    <main>
        <fieldset>
            <legend><strong>Register</strong></legend>

        <form class="NewUser" action="register" method="post">
            <strong>
                First Name:
                <input type="text" name="FirstName"><br>
                Last Name:
                <input type="text" name="LastName"><br>
                Email:
                <input type="text" name="Email" placeholder="ninja@codingdojo.com"><br>
                Password:
                <input type="password" name="Password" placeholder=" * * * * * * "><br>
                Password Confirmation:
                <input type="password" name="PasswordConfirmation" placeholder=" * * * * * * "><br><br>

            <button type="submit" name="register" value="Register">Register</button>
            </strong>
        </fieldset>
        </form>  

        <br><br><br>
        
        <fieldset>
            <strong><legend>Login</legend></strong>
            <strong>
            <form class="ReturningUser" action="login" method="post">
                Email:
                <input type="text" name="Email" placeholder="ninja@codingdojo.com"><br>
                Password:
                <input type="password" name="Password" placeholder=" * * * * * * "><br><br>
                <button type="submit" name="login" value="Login">Login</button>
                </strong>
            </form>  
        </fieldset>
    </main>